##   Copyright (c) Aslak W. Bergersen, Henrik A. Kjeldsberg. All rights reserved.
##   See LICENSE file for details.

##      This software is distributed WITHOUT ANY WARRANTY; without even
##      the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR
##      PURPOSE.  See the above copyright notices for more information.

notifications:
  - provider: Email
    to:
      - henrik.kjeldsberg@live.no
    on_build_success: true

environment:
  global:
    # SDK v7.0 MSVC Express 2008's SetEnv.cmd script will fail if the
    # /E:ON and /V:ON options are not enabled in the batch script interpreter
    # See: http://stackoverflow.com/a/13751649/163740
    CMD_IN_ENV: "cmd /E:ON /V:ON /C .\\continuous-integration\\appveyor\\run_with_env.cmd"

  matrix:
    - PYTHON: "C:\\Python35_64"
      PYTHON_VERSION: "3.5"
      PYTHON_ARCH: "64"
      CONDA_PY: "35"
      CONDA_NPY: "18"
      APP_CONDA_PY: "3.5.1"

    - PYTHON: "C:\\Python36_64"
      PYTHON_VERSION: "3.6"
      PYTHON_ARCH: "64"
      CONDA_PY: "36"
      CONDA_NPY: "18"
      APP_CONDA_PY: "3.6.1"

platform:
  - x64

configuration:
  - Release

install:
  # Installs the appropriate Miniconda (Py2/Py3, 32/64 bit),
  - powershell .\\continuous-integration\\appveyor\\install.ps1
  - "SET PATH=%PYTHON%;%PYTHON%\\Scripts;%PATH%"
  - "SET PATH=%MINICONDA%;%MINICONDA%\\Scripts;%PATH%"

build: false

test_script:
  # Start building
  #- "%CMD_IN_ENV% conda init powershell"
  - "%CMD_IN_ENV% conda config --set always_yes yes"
  - "%CMD_IN_ENV% conda config --add channels vmtk"
  - "%CMD_IN_ENV% conda config --add channels morphman"
  - "%CMD_IN_ENV% conda install pytest vtk vmtk scipy numpy"
  #- "%CMD_IN_ENV% conda build --python %APP_CONDA_PY% ."

# Set up environment
  - "%CMD_IN_ENV% conda create -n morphman_env morphman pytest"

# Activate environment
  - "%CMD_IN_ENV% activate morphman_env"

# Useful for debugging any issues with conda
  - "%CMD_IN_ENV% conda info -a"

  # Search and replace in vmtkcenterlines.py for / to //
  #- '%CMD_IN_ENV% sed -i "s/len(self.SourcePoints)\/3/len\(self.SourcePoints\)\/\/3/g" ..\\..\\Python%CONDA_PY%_64\\lib\\site-packages\\vmtk\\vmtkcenterlines.py'
  #- '%CMD_IN_ENV% sed -i "s/len(self.TargetPoints)\/3/len\(self.TargetPoints\)\/\/3/g" ..\\..\\Python%CONDA_PY%_64\\lib\\site-packages\\vmtk\\vmtkcenterlines.py'

  # Start testing
  - cd .\\test
  - ps: Start-FileDownload 'http://ecm2.mathcs.emory.edu/aneuriskdata/download/C0001/C0001_models.tar.gz'
  - tar --force-local -zxvf C0001_models.tar.gz
  - del /f C0001_models.tar.gz
  - pytest .
